input.caribuku {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #495057;
    background-color: rgb(241, 245, 249);
    border: 0px solid #ced4da;
}